/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==============================================*/
html, body {
	height: 100%;
	min-height: 100%;
	margin: 0;

	background-image: linear-gradient(rgb(213, 209, 224), rgb(180, 164, 226), rgb(142, 112, 223), rgb(109, 65, 230), rgb(91, 41, 228));
	background-repeat: no-repeat;
	background-attachment: fixed;

	font-family: 'Titillium Web', sans-serif;

	position: relative;
}

.site-container {
	position: relative;
	min-height: 100%;
}


/* === menu === */
.menu-container {
	background-color: white;
	border-bottom: 2px dashed gray;
	border-top: 2px dashed gray;

	padding: 6px 0;
}

.menu {
	display: inline-block;
}

.menu-item {
	display: inline-block;

	color: rgb(91, 41, 228);

	font-weight: 700;
	font-size: 0.9em;
	line-height: 1.5em;

	padding: 2px 0;
	margin-left: 3vw;

	text-decoration: none;
	text-transform: uppercase;
}
.menu-item:hover {
	box-sizing: content-box;
	border-bottom: 1px solid rgb(91, 41, 228);
}

/* === calendar icon and calendar === */
.calendar-icon {
	position: absolute;
	right: 15px;
	bottom: 15px;
	z-index: 10;

	display: inline-block;
	padding: 0px;
	
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 black;
	cursor: pointer;
}
.calendar-icon:hover {
	box-shadow: none;
}
.calendar-icon img {
	height: 48px;
	width: 48px;
}

.side-menu {
	box-sizing: border-box;
	height: 100%;
	max-width: 100%;
	width: 0px;

	position: absolute;
	right: 0;
	z-index: 20;
	transition: 0.6s;

	background-color: white;
	box-shadow: -5px 0 25px -2px black;

}



/* === visit counter === */
.counter-container {
	position: absolute;
	width: 100%;
	bottom: 0;

	padding: 6px 0;
	
	background-color: transparent;
	border-bottom: 2px dashed white;

}

.counter-container p {
	margin-left: 3vw;

	font-size: 0.9em;
	font-weight: 400;
	line-height: 1.5em;

	color: white;
}


/*... mobile phone ...*/
@media only screen and (max-width: 768px) {
	
}
